*{
    /* font-family: "Tilt Neon", sans-serif; */
    font-family: "Fjalla One", sans-serif;
    box-sizing: border-box;
    /* font-weight: bold; */
    color: #B8CFCE;
}
body{
    background: url('./assets/abstract-92-background-wallpaper-gradient_792836-184027.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

overflow-x: hidden;
    
}
nav{
    /* background-color: transparent !important; */
    position: fixed !important;
    top: 0;
    z-index: 999;
    background-color: rgb(154, 147, 185, 0.2) !important;
    backdrop-filter: blur(10px);
    /* margin: 2px 5px; */
    /* border-radius: 5px; */
    box-shadow: 0px 2px 50px black;
}
.logo_nav{
    width: 70px;
}
.about-content{
    color: #B8CFCE ;
}
.about-content span{
    font-family: "Vina Sans", sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #7F8CAA;
    font-size: 3rem;
}

    .pic{
        background: url(./assets/whitelight-gray-gradient-background_763013-98.jpg);
        background-attachment: fixed;
        background-size: cover;
        width: 300px;
        height: 350px;
        position: relative;
        border-radius: 4%;
        /* overflow: hidden; */
        /* transition: 0.5s; */
        animation: shrinkBg 0.8s ease forwards;
        /* top: 50px; */
    }

    @keyframes shrinkBg{
    0%{
        width: 300px;
        height: 350px;
    }
    100%{
        width:350px;
        height: 300px;
        box-shadow: 0px 0px 15px white;
    }
}
    .images{

        position: absolute;
        /* left: 0; */
        bottom: 0;
        padding: 0px 15px;
        width: 300px;
        animation: growImage 0.8s ease forwards;
        /* transition: filter 0.5s; */
    }

    @keyframes growImage{
    0%{
        width: 300px;
    }
    100%{
        width:350px;
        filter: drop-shadow(8px 0px 25px black);
    }
}


.resume {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #7F8CAA;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 50px;
    transition: 0.3s;
}
.resume:hover {
    background-color: transparent;
    transform: scale(1.1);
    color: white;
    border: 1px solid white;
    box-shadow: 2px 2px 10px black;
}

#about h3, #skills h3{
    font-family: "Vina Sans", sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #7F8CAA;
    font-size: 2rem;
    text-align: center;
}
#about, #skills{
    text-align: justify;
    /* margin: 7px; */
    background-color: rgb(154, 147, 185, 0.2) !important;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    text-shadow: 2px 2px 10px black;
}
/* #skills li{
    padding: 2px;
    margin: 4px 0px;
    width: 100%;
} */
.level{
    height: 15px;
    width: 0;
    background-color: rgb(103, 101, 115);
    border-radius: 10px;
    /* position: relative; */
    margin: 2px 0px;
    box-shadow: 2px 2px 10px black;
    overflow: hidden;
}
.cpgm{
    height: 15px;
    width: 75%;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    /* position: absolute; */
    animation: skillC 1.5s ease forwards;
    animation-delay: 1.5s;

}
/* @keyframes skillC {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
} */
 .skill-logo{
    display: flex;
    align-items: center;
 }
 .skill-logo img{
    width: 100px;
 }
 #c-logo{
    position: relative;
 }
 #c-content{
    /* display: none; */
    opacity: 0;
    position: absolute;
 }
 #c-logo:hover #c-content{
    /* display: inline; */
    position: relative;
    opacity: 1;
    transition: position 2s;
    transition: opacity 2s;
 }
 #c-logo:hover .level{
    width: 250px;
    transition: 0.5s;
 }